<ul class="wpBlockDateList">
<{foreach item=record from=$block.records}>
<{if $record.date != ""}>
<{if $record.pdate != "" }>
    </ul>
  </li>
<{/if}>
  <li><span class="postDate"><{$record.date}></span>
    <ul class="children">
<{/if}>
      <li>
        <span class="comment-author"><{$record.comment_author_link}></span>
        <a href="<{$record.permalink}>" title="View the entire comment by <{$record.comment_author}>" style="display: inline;"><{$record.comment_excerpt}>...</a>
<{if $block.show_type }>
        <span style="font-size:70%">-<{$record.type}></span>
<{/if}>
      </li>
<{/foreach}>
    </ul>
  </li>
</ul>
