<div class="wrap">
<table width="100%">
  <tr>
    <td valign="top" width="200">
      <{$smarty.const._LANG_EC_SHOW_COM}>
    </td>
    <td>
      <table cellpadding="0" cellspacing="0" border="0">
        <tr>
          <td colspan="2" align="center"><!-- show next/previous X comments -->
<{if $previousXstart != 0 }>
            <form name="previousXcomments" method="get" action="">
              <input type="hidden" name="showcomments" value="<{$showcomments}>" />
              <input type="hidden" name="commentstart" value="<{$previousXstart}>" />
              <input type="hidden" name="commentend" value="<{$previousXend}>" />
              <input type="submit" name="submitprevious" value="< <{$showcomments}>" />
            </form>
<{else}>
              &nbsp;
<{/if}>
          </td>
          <td>
            <form name="nextXcomments" method="get" action="">
              <input type="hidden" name="showcomments" value="<{$showcomments}>" />
              <input type="hidden" name="commentstart" value="<{$nextXstart}>" />
              <input type="hidden" name="commentend" value="<{$nextXend}>" />
              <input type="submit" name="submitnext" value="<{$showcomments}> >" />
            </form>
          </td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td valign="top" width="200"><!-- show X first/last comments -->
      <form name="showXfirstlastcomments" method="get" action="">
        <input type="text" name="showcomments" value="<{$showcomments}>" style="width:40px;" /}>
        <select name="commentorder">
          <option value="DESC" <{$selorder_desc}>>last comments</option>
          <option value="ASC" <{$selorder_asc}>>first comments</option>
        </select>&nbsp;
        <input type="submit" name="submitfirstlast" value="OK" />
      </form>
    </td>
    <td valign="top"><!-- show comment X to comment X -->
      <form name="showXfirstlastcomments" method="get" action="">
        <input type="text" name="commentstart" value="<{$commentstart}>" style="width:40px;" /}>&nbsp;to&nbsp;<input type="text" name="commentend" value="<{$commentend}>" style="width:40px;" /}>&nbsp;
        <select name="commentorder">
          <option value="DESC" <{$selorder_desc}>>from the end</option>
          <option value="ASC" <{$selorder_asc}>>from the start</option>
        </select>&nbsp;
        <input type="submit" name="submitXtoX" value="OK" />
      </form>
    </td>
  </tr>
</table>
</div>
