<{if $updated != '' }>
<div class="wrap">
	<p><strong><{$smarty.const._LANG_WPF_SUBT_UPDATED}></strong></p>
</div>
<{/if}>
<{$formHTML}>
<{if $is_gecko == 1 }>
<script language="JavaScript" type="text/javascript">
	function addPanel() {
		if ((typeof window.sidebar == "object") && (typeof window.sidebar.addPanel == "function")) {
			window.sidebar.addPanel("WordPress Post: <{$blogname}>","<{$siteurl}>/wp-admin/sidebar.php","");
		} else {
			alert('<{$smarty.const._LANG_WPF_SUBT_MOZILLA}>');
		}
	}
</script>
<strong><{$smarty.const._LANG_WPF_SUBT_SIDEBAR}></strong><br />
Add the <a href="#" onclick="addPanel()">WordPress Sidebar</a>! 
<{/if}>
<{if $is_IE == 1 }>

<div class="wrap">
    <h2>SideBar</h2>
	<{$smarty.const._LANG_WPF_SUBT_FAVORITES}> <a href="javascript:Q='';if(top.frames.length==0)Q=document.selection.createRange().text;void(_search=open('<{$siteurl}>/wp-admin/sidebar.php?text='+escape(Q)+'&popupurl='+escape(location.href)+'&popuptitle='+escape(document.title),'_search'))">WordPress Sidebar</a>. 
</div>
<{/if}>
