<{if $block.style != ""}>
<style type="text/css">
	<!--
	<{$block.style}>
	-->
</style>
<{/if}>
<div id='<{$block.divid}>'>
<{if $block.use_theme_template == 0}>
  <{foreach item=content from=$block.contents}>
    <{if $content.date != ""}>
        <h2><{$content.date}></h2>
    <{/if}>
        <div class="post">
            <h3 class="storytitle" id="post-<{$content.date}>"><a href="<{$content.permlink}>" rel="bookmark" title="Permanent Link: <{$content.title}>"><{$content.title}></a></h3>
            <div class="meta">
                Filed under: <{$content.category}> - <{$content.author}> @ <{$content.time}>
            </div>
            <div class="storycontent">
                <p><{$content.body}></p>
                <br clear=left>
            </div>
            <div class="feedback">
                <{$content.linkpage}> <{$content.comments}> 
            </div>
<!--
<{$content.trackback}>
-->
        </div>
  <{/foreach}>
<{else}>
  <{$block.template_content}>
<{/if}>
</div>
