/* Default WordPress by Dave Shea || http://mezzoblue.com
	Modifications by Matthew Mullenweg || http://photomatt.net
	This is just a basic layout, with only the bare minimum defined.
	Please tweak this and make it your own. :)
힝폿
*/

a {
	color: #9B9FAE;
}

a img {
	border: none;
}

a:visited {
	color: #9B9FAE;
}

a:hover {
	color: #7AA0CF;
}

acronym, abbr {
	border-bottom: 1px dashed #333;
}

acronym, abbr, span.caps {
	cursor: help;
	font-size: 90%;
	letter-spacing: .07em;
}

blockquote {
	border-left: 5px solid #ccc;
	margin-left: 1.5em;
	padding-left: 5px;
}

body {
	font-family: "ΣιΞ넘Ⅴ Pro W3", Osaka, Verdana, "ＭＳ ＰⅤⅧΓ", sans-serif;
	margin: 0;
	padding: 0;
	background-color: white;
	color: #666666;
}

cite {
	font-size: 90%;
	font-style: normal;
}

h2 {
	border-bottom: 1px dotted #ccc;
	font: 80% "ΣιΞ넘Ⅴ Pro W3", Osaka, Verdana, "ＭＳ ＰⅤⅧΓ", sans-serif;
	letter-spacing: 0.2em;
	margin: 15px 0 2px 0;
	padding-bottom: 2px;
}

h3 {
	border-bottom: dotted 1px #eee;
	font-family: "ΣιΞ넘Ⅴ Pro W3", Osaka, Verdana, "ＭＳ ＰⅤⅧΓ", sans-serif;
	margin-top: 0;
}

ol#comments li p {
	font-size: 100%;
}

p, li, .feedback {
	font: 90%/175% "ΣιΞ넘Ⅴ Pro W3", Osaka, Verdana, "ＭＳ ＰⅤⅧΓ", sans-serif;
}

.storycontent{
	font: 100% "ΣιΞ넘Ⅴ Pro W3", Osaka, Verdana, "ＭＳ ＰⅤⅧΓ", sans-serif;
}

.credit {
	background: #ffffff;
	color: #666666;
	font-size: 11px;
	margin: 10px 0 0 0;
	padding: 3px;
	text-align: center;
	font-family: "ΣιΞ넘Ⅴ Pro W3", Osaka, Verdana, "ＭＳ ＰⅤⅧΓ", sans-serif;
}

.credit a:link, .credit a:hover {
	color: #9B9FAE;
}

.feedback {
	color: #ccc;
	text-align: right;
}

.meta {
	font-size: .75em;
}

.meta, .meta a {
	color: #808080;
	font-weight: normal;
	letter-spacing: 0;
}
.meta ul {
	display: inline;
	margin: 0;
	padding: 0;
	list-style: none;
}

.meta li {
	display: inline;
}

.storytitle {
	margin: 0;
}

.storytitle a {
	text-decoration: none;
}

#commentform input, #commentform textarea {
	background: #fff;
	border: 1px solid #333;
}

#content {
	margin: 30px 13em 0 3em;
	padding-right: 60px;
}

#submenu {
	padding-left: 60px;
	font-size: .75em;
}

#header {
	background: #ffffff;
	font: bold 230% "Tempus Sans ITC", "Trebuchet MS", "ΣιΞ넘Ⅴ Pro W3", Osaka, Verdana, "ＭＳ ＰⅤⅧΓ", sans-serif;
	margin: 0;
	padding: 15px 10px 0px 60px;
}

#header a {
	color: #9B9FAE;
	text-decoration: none;
}

#header a:hover {
	text-decoration: underline;
}

#menu {
	background: #fff;
	border-left: 1px solid #9B9FAE;
	padding: 20px 0 10px 20px;
	position: absolute;
	right: 0px;
	top: 0;
	width: 11em;
}

#menu form {
	margin: 0 0 0 13px;
}

#menu input {
	background: #ffffff;
	border: 1px solid #999;
	letter-spacing: -0.05em;
}

#menu ul {
	color: #ccc;
	font-weight: bold;
	list-style-type: none;
	margin: 0;
	padding-left: 3px;
	text-transform:capitalize;
}

#menu ul li {
	font: normal 110% "ΣιΞ넘Ⅴ Pro W3", Osaka, Verdana, "ＭＳ ＰⅤⅧΓ", sans-serif;
	letter-spacing: 0.1em;
	margin-top: 10px;
	padding-bottom: 2px; /*border-bottom: dotted 1px #ccc;*/
}

#menu ul ul {
	list-style-type: none;
	font-variant: normal;
	font-weight: normal;
	line-height: 100%;
	margin: 0;
	padding: 0;
	text-align: left;
}

#menu ul ul li {
	border: 0;
	font: normal normal 70%/115% "ΣιΞ넘Ⅴ Pro W3", Osaka, Verdana, "ＭＳ ＰⅤⅧΓ", sans-serif;
	letter-spacing: 0;
	margin-top: 0;
	padding: 0;
	padding-left: 12px;
}

#menu ul ul li a {
	color: #000;
	text-decoration: none;
}

#menu ul ul li a:hover {
	border-bottom: 1px solid #809080;
}

#wp-calendar {
	empty-cells: show;
	font-size: 14px;
	margin: 0;
	width: 90%;
}

#wp-calendar #next a {
	padding-right: 10px;
	text-align: right;
}

#wp-calendar #prev a {
	padding-left: 10px;
	text-align: left;
}

#wp-calendar a {
	display: block;
	color: #000000;
	text-decoration: none;
}

#wp-calendar a:hover {
	background: #A6C9E6;
	color: #333;
}

#wp-calendar caption {
	font-weight: bold;
	font-size: 110%;
	color: #ccc;
	text-align: left;
}

#wp-calendar td {
	color: #ccc;
	font: normal 12px "ΣιΞ넘Ⅴ Pro W3", Osaka, Verdana, "ＭＳ ＰⅤⅧΓ", sans-serif;
	letter-spacing: normal;
	padding: 2px 0;
	text-align: center;
}

#wp-calendar td.pad:hover {
	background: #fff;
}

#wp-calendar #today {
	background: #D85F7D;
	color: #ffffff;
}

#wp-calendar th {
	font-style: normal;
	font-size: 11px;
	text-transform: capitalize;
}
em {
	color: #999999;
}

/* classes used by the_meta() */ 
   ul.post-meta { 
           list-style: none; 
   } 
    
   ul.post-meta li { 
           display: inline; 
   } 
    
   ul.post-meta span.post-meta-key { 
           font-weight: bold; 
   } 

