/* Default WordPress by Dave Shea || http://mezzoblue.com
	Modifications by Matthew Mullenweg || http://photomatt.net
	This is just a basic layout, with only the bare minimum defined.
	Please tweak this and make it your own. :)
ÈþÆý
*/
#wpMainContent {
	padding-right: 5px;
}

#wpMainContent h2 {
	font-size : 18px;
	font-family: "¥Ò¥é¥®¥Î³Ñ¥´ Pro W3", Osaka, Verdana, "£Í£Ó £Ð¥´¥·¥Ã¥¯", sans-serif;;
	border-bottom: 1px solid #dcdcdc;
	margin-bottom: 5px;
}

#wpMainContent h3 {
	font-size : 16px;
	font-family: "¥Ò¥é¥®¥Î³Ñ¥´ Pro W3", Osaka, Verdana, "£Í£Ó £Ð¥´¥·¥Ã¥¯", sans-serif;
	margin-bottom: 5px;
}

#wpMainContent a {
	color: #9B9FAE;
}

#wpMainContent a img {
	border: none;
}

#wpMainContent a:visited {
	color: #9B9FAE;
}

#wpMainContent a:hover {
	color: #7AA0CF;
}

#wpMainContent acronym,#wpMainContent abbr {
	border-bottom: 1px dashed #333;
}

#wpMainContent acronym,#wpMainContent abbr,#wpMainContent span.caps {
	cursor: help;
	font-size: 90%;
	letter-spacing: .07em;
}
#wpMainContent blockquote {
	border-left: 5px solid #ccc;
	margin-left: 1.5em;
	padding-left: 5px;
}
#wpMainContent cite {
	font-size: 90%;
	font-style: normal;
}

#wpMainContent ol#comments li p {
	font-size: 100%;
}

#wpMainContent p, li, .feedback {
	font: 90%/175% "¥Ò¥é¥®¥Î³Ñ¥´ Pro W3", Osaka, Verdana, "£Í£Ó £Ð¥´¥·¥Ã¥¯", sans-serif;
}
#wpMainContent .storycontent{
	font: 100% "¥Ò¥é¥®¥Î³Ñ¥´ Pro W3", Osaka, Verdana, "£Í£Ó £Ð¥´¥·¥Ã¥¯", sans-serif;
}

#wpMainContent div.storycontent {
	clear:right;
}

#wpMainContent .credit {
	background: #ffffff;
	color: #666666;
	font-size: 11px;
	margin: 10px 0 0 0;
	padding: 3px;
	text-align: center;
	font-family: "¥Ò¥é¥®¥Î³Ñ¥´ Pro W3", Osaka, Verdana, "£Í£Ó £Ð¥´¥·¥Ã¥¯", sans-serif;
}

#wpMainContent .credit a:link, #wpMainContent .credit a:hover {
	color: #9B9FAE;
}

#wpMainContent .feedback {
	color: #ccc;
	text-align: right;
}

#wpMainContent .meta {
	font-size: .75em;
}

#wpMainContent .meta, .meta a {
	color: #808080;
	font-weight: normal;
	letter-spacing: 0;
}
#wpMainContent .meta ul {
	display: inline;
	margin: 0;
	padding: 0;
	list-style: none;
}

#wpMainContent .meta li {
	display: inline;
}

#wpMainContent .storytitle {
	margin: 0;
}

#wpMainContent .storytitle a {
	text-decoration: none;
}

#commentform input, #commentform textarea {
	background: #fff;
	border: 1px solid #333;
}


#wpMainContent em {
	color: #999999;
}

/* classes used by the_meta() */ 
   #wpMainContent ul.post-meta { 
           list-style: none; 
   } 
    
   #wpMainContent ul.post-meta li { 
           display: inline; 
   } 
    
   #wpMainContent ul.post-meta span.post-meta-key { 
           font-weight: bold; 
   } 

